<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.omri.qrcodescanner"
		versionCode=""
		version   = "">
		<name>QR Code Scanner</name>
		<description>Demo QR Code Scanner</description>

    <icon src="icon.png"/>

	</widget>
